<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Tasks1!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="header" id="status">
      <%= if @current_user do %>
        <p>
          Logged in as: <%= @current_user.name %> |
          <%= link "Log Out", to: "/session", method: :delete %>
        </p>
        <%= link "Home", to: "/" %> | 
        <%= link "See Your Tasks", to: "/feed" %> |
        <%= link "Add a New Task", to: task_path(@conn, :new) %> |
      <% else %>
        <p>Not logged in.</p>
        <%= link "Log in", to: "/" %> |
      <% end %>
        <%= link "Users", to: "/users" %> | 
        <%= link "See All Tasks", to: "/tasks" %>
    </div>
    <div class="container">

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
